@import '_variables.scss';

.projectContainer {

  min-height: 300px;

  .projectHeader {
    @include margin;
  }
  h1 {
    @include headline;
  }
  .projectDetail {
    @include margin;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: $breakpoint-xs-max) {
      grid-template-columns: 1fr;
    }

    .leftColumn {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .documents {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      @include mono;

      .documentsTitle {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        @include mono;
        margin: 0;
      }

      .document {
        display: flex;
        align-items: center;
        gap: 8px;
        @include underline;
        color: inherit;

        @media (hover: hover) {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .team {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .role {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        @include mono;
      }
      .name {
        letter-spacing: 1px;
        @include sans;
      }
    }
    .program {
      @include mono;
      margin-bottom: 40px;
    }
    .abstract {
      @include sans;
    }
  }
}

.noReruns {
  @include marginHorizontal;
  @include mono;
  color: #9f9f9f;
  margin-bottom: 50px !important;
  margin-top: -10px !important;
}

.programEvents {
  width: 100%;
  @include paddingHorizontal;
  display: flex;
  align-items: stretch;
  gap: 20px;
  overflow-x: scroll;
  margin-bottom: 40px;

  .programEvent {
    width: calc((1000px - (3*20px)) / 4);
    border-radius: 20px;
    background-color: $grayDarker;
    padding: 10px 16px 15px 16px;
    display: flex;
    flex-direction: column;

    .eventDate {
      @include headline3;
      margin-bottom: 8px;
      font-variant-numeric: lining-nums proportional-nums;
    }
    .eventTag {
      width: fit-content;
      margin-bottom: 8px;
      @include mono;
      background-color: #EFBFFF;
      padding: 8px 18px;
      border-radius: $bRadius;
    }
    .eventTime, .eventLocation {
      @include mono;
    }
    .eventLocation {
      flex: 1 1 auto;
    }
    .eventLinks {
      margin-top: 8px;
      justify-content: space-between;
      display: flex;

      gap: 6px;
      a {
        @include outlinedLink;
        padding: 8px 14px;

        align-self: flex-start;
        height: 40px;
        background: white;

        @media (hover: hover) {
          &:hover {
            @include underline;
          }
        }
      }
    }
  }
}

.galleryContainer{

  overflow: hidden;
  .swiperSlide {
    position: relative;
  }
  img {
    position: relative;
    border-radius: $bRadius;
  }
}

.galleryContainer > div {
  width: 100%;
  @include paddingHorizontal;
}

.posterContainer {
  @include margin;
  max-width: 1000px;
  img {
    width: auto;
    height: auto;
    max-height: 60vh;
    border-radius: $bRadius;
  }
}